
.vs/
x64/Release/TestMediasoupClient.exe
x64/Release/TestMediasoupClient.pdb
x64/Release/mediasoup_test_console.exe
x64/Release/mediasoup_test_console.pdb
x64/Release/mediasoupclient.Build.CppClean.log
x64/Release/mediasoupclient.dll
x64/Release/mediasoupclient.dll.recipe
x64/Release/mediasoupclient.exp
x64/Release/mediasoupclient.iobj
x64/Release/mediasoupclient.ipdb
x64/Release/mediasoupclient.log
x64/Release/mediasoupclient.obj
x64/Release/mediasoupclient.pdb
x64/Release/mediasoupclient.tlog/CL.command.1.tlog
x64/Release/mediasoupclient.tlog/CL.read.1.tlog
x64/Release/mediasoupclient.tlog/CL.write.1.tlog
x64/Release/mediasoupclient.tlog/link.command.1.tlog
x64/Release/mediasoupclient.tlog/link.delete.1.tlog
x64/Release/mediasoupclient.tlog/link.read.1.tlog
x64/Release/mediasoupclient.tlog/link.write.1.tlog
x64/Release/mediasoupclient.tlog/mediasoupclient.lastbuildstate
x64/Release/mediasoupclient.tlog/mediasoupclient.write.1u.tlog
x64/Release/vc142.pdb
